<div id="main">

  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-align-justify"></i>
    </label>
    <label class="logo">#pizzeria</label>

    <ul>
      <li><a href="#" class="link">Menu</a></li>
      <li><a href="#" class="link">Blog</a></li>
      <li><a href="#" class="link">About Us</a></li>
      <li><a href="#" class="link">Contacts</a></li>
    </ul>  
  </nav>

  <div class="main-topic">
    <h1>Grand </h1>
    <div class="sub-topic">
        <p>Opening</p>
        <button>READ MORE</button>
    </div>
  </div>
  
</div>

<div id="new">

  <div class="new1">
      <h2>What new ?</h2>
      <div class="sub-new1">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt?</p>
          <p>Lorem ipsum dolor sit.</p>
      </div>
      <div class="sub-new2">
          <p>Lorem ipsum dolor sit amet consectetur.</p>
      </div>
  </div> 

  <div class="new2">
    <img [src]=myimage>
  </div>
  
</div>

<div id="about">

  <div class="format">
    <h2>| new format</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem ducimus earum beatae. Totam doloribus iste animi itaque!</p>
  </div>

  <div class="class">
    <h2>|| master classes</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, perferendis! Minima necessitatibus reiciendis cum quia nulla! Dolorem, voluptatum.</p>
  </div>

  <div class="resturent">
    <h2>||| pizza resturent</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae velit ducimus laboriosam sequi quasi, quaerat id beatae quia!</p>
  </div>

</div>

<div id="menu">

  <div class="menu1">
    <h2>#pizzeria.</h2>
    <h1>OUR NEW MENU</h1>
  </div>

  <div class="menu1-1">

    <div class="menu2">

      <div class="menu3">
        <div class="menu3-1">
          <h2>| EIUSMOD SED DO</h2>
          <p>(tempor,incididunt,utas,labore,etws)</p>
        </div>
        <div class="menu3-2">
          <h2>$10</h2>
        </div>
      </div>

      <div class="menu4">
        <div class="menu4-1">
          <h2>|| DO DOLORE</h2>
        <p>(magna,aliqua,lorem)</p>
        </div>
        <div class="menu4-2">
          <h2>$10</h2>
        </div>
      </div>

      <div class="menu5">
        <div class="menu5-1">
          <h2>||| EIUSMOD SED DO</h2>
          <p>(tempor,incididunt,utas,labore,etws)</p>
        </div>
        <div class="menu5-2">
          <h2>$10</h2>
        </div>
      </div>

    </div>

    <div class="menu6">
      <div class="menu6-1">
        <h2>|| DO DOLORE</h2>
        <p>(magna,aliqua,lorem)</p>
      </div>
      <div class="menu6-2">
        <h2>$10</h2>
      </div>
    </div>

  </div>

  <div class="menu7">
    <p>|||_top in menu</p>
    <p>||_sell item</p>
    <p>|_made by chef</p>
  </div>

</div>

<div id="concept">

  <h1>ABOUT OUR CONCEPT</h1>
  <p class="concept1">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Praesentium harum, vitae accusantium perferendis ullam numquam qui nesciunt eaque nemo ipsam.</p>
  <div class="concept2">
    <p>Pizza</p>
    <p>Modern Concept</p>
    <p>Story from chef</p>
    <p>Gallery</p>
  </div>

</div>

<div id="master-class">
  <div class="master-class1">

    <h2 class="master-class2">MASTERCLASS</h2>

    <div class="master-class3">
      <h1 class="master-class4">| THE RECIPE FOR THE MOST DELICIOUSPIZZA DOUGH |</h1>
      <h2 class="master-class5">waiting for you!</h2>
      <div class="master-class6">
        <h2>PRICE_$15</h2>
        <h2>12:00-15:00</h2>
      </div>
    </div>

    <div class="master-class7">
      <h2>APPLY</h2>
    </div>
    
  </div>
</div>

<div id="gallery">

  <div class="box">
    <div class="box1"></div>
    <div class="box2"></div>
    <div class="box3"><h2>GALLERY</h2></div>
    <div class="box4"></div>
  </div>

</div>

<div id="footer">

  <div class="about">
    <h3>ABOUT</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus corporis dolorem omnis a nulla autem maiores quod architecto reprehenderit praesentium.</p>
  </div>

  <div class="info">

    <div class="menu">
      <h3>Menu</h3>
      <p>Team</p>
      <p>Join us</p>
      <p>Ethic</p>
      <p>Goals</p>
    </div>
    <div class="shef">
      <h3>SHEF</h3>
      <p>Team</p>
      <p>Join us</p>
      <p>Ethic</p>
      <p>Goals</p>
    </div>
    <div class="contact">
      <h3>CONTACT</h3>
      <p>Team</p>
      <p>Join us</p>
      <p>Ethic</p>
      <p>Goals</p>
    </div>

  </div>

</div>