@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

#main {
  width: 100%;
  height: 580px;
  background-image: url("../img/P2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

#main nav {
  width: 100%;
  background-color: #202020;
  padding-bottom: 5px;
}

#main nav .logo {
  color: #fffffe;
  background-color: #f8c73f;
  font-size: 27px;
  font-family: Century Gothic;
  padding: 5px 50px 5px 140px;
}

#main nav ul {
  float: right;
  padding: 5px 250px 0px 0px;
}

#main nav ul li {
  display: inline-block;
  line-height: 30px;
  margin: 0px 20px;
}

#main nav ul li a {
  color: #fffffe;
  font-size: 14px;
}

#main nav .checkbtn {
  font-size: 25px;
  color: #f8c73f;
  float: right;
  line-height: 40px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#main nav #check {
  display: none;
}

#main .main-topic {
  color: #fffffe;
  background-color: #f8dc3f;
  height: 110px;
}

#main .main-topic h1 {
  text-align: left;
  margin: 150px 0px 0px 300px;
  font-size: 70px;
  font-weight: 900;
}

#main .main-topic p {
  margin-left: 300px;
  text-align: left;
  font-size: 50px;
}

#main .main-topic button {
  color: #fffffe;
  text-align: right;
  padding: 0px 30px;
  margin-left: 200px;
  background-color: #f8dc3f;
  border: 5px solid #fffffe;
  font-size: 20px;
}

#main .main-topic .sub-topic {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

#new {
  padding: 90px 0px 90px 60px;
  background-color: #444444;
  color: #f5eded;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#new .new1 h2 {
  margin: 0px 0px 10px 50px;
}

#new .new1 p {
  font-size: 20px;
  padding-bottom: 13px;
}

#new .new1 .sub-new1 {
  background-color: #ffbb00;
  width: 450px;
  padding: 0px 30px 0px 50px;
}

#new .new1 .sub-new2 {
  margin-left: 50px;
}

#new .new2 img {
  background-color: #111111;
  padding: 0px 0px 0px 140px;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 120px;
}

#about .format,
#about .class {
  padding-right: 50px;
}

#about h2 {
  margin-bottom: 10px;
  color: #ffbb00;
}

#menu {
  width: 100%;
  height: 740px;
  background-image: url("../img/P3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#menu .menu1 h2,
#menu .menu1 h1 {
  color: #ffbb00;
}

#menu .menu1 h2 {
  font-size: 30px;
  padding: 30px;
  text-align: center;
}

#menu .menu1 h1 {
  border: 1px solid #fffffe;
  margin-left: 200px;
  padding: 8px 0px 45px 350px;
}

#menu .menu1-1 {
  margin-top: 70px;
}

#menu .menu1-1 .menu2 {
  margin-left: 240px;
  background-color: #ffbb00;
  padding: 50px 0px 2px 30px;
}

#menu .menu1-1 .menu6 {
  margin-left: 240px;
  padding: 10px 0px 0px 30px;
}

#menu .menu1-1 .menu3,
#menu .menu1-1 .menu4,
#menu .menu1-1 .menu5,
#menu .menu1-1 .menu6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

#menu .menu1-1 .menu3 h2,
#menu .menu1-1 .menu3 p,
#menu .menu1-1 .menu4 h2,
#menu .menu1-1 .menu4 p,
#menu .menu1-1 .menu5 h2,
#menu .menu1-1 .menu5 p,
#menu .menu1-1 .menu6 h2,
#menu .menu1-1 .menu6 p {
  color: #fffffe;
  font-size: 25px;
}

#menu .menu1-1 .menu3-1,
#menu .menu1-1 .menu5-1 {
  margin-right: 140px;
}

#menu .menu1-1 .menu4-1,
#menu .menu1-1 .menu6-1 {
  margin-right: 285px;
}

#menu .menu7 {
  margin: 40px 120px 0px 120px;
  padding: 10px 0px 15px 150px;
  border: 1px solid #fffffe;
}

#menu .menu7 p {
  font-size: 20px;
  color: #fffffe;
}

#concept {
  text-align: center;
  background-color: #313131;
  padding: 50px;
}

#concept h1 {
  color: #ffbb00;
}

#concept .concept1 {
  margin: 15px 300px 0px 300px;
  color: #fffffe;
}

#concept .concept2 {
  color: #fffffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

#concept .concept2 p {
  padding: 0px 20px;
}

#concept {
  text-align: center;
  background-color: #313131;
  padding: 50px;
}

#concept h1 {
  color: #ffbb00;
}

#concept .concept1 {
  margin: 15px 300px 0px 300px;
  color: #fffffe;
}

#concept .concept2 {
  color: #fffffe;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

#concept .concept2 p {
  padding: 0px 20px;
}

#master-class {
  width: 100%;
  height: 740px;
  background-image: url("../img/P4.webp");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fffffe;
}

#master-class .master-class2 {
  text-align: right;
  color: #fffffe;
  padding: 60px 70px;
}

#master-class .master-class3 {
  background-color: #ffbb00;
  margin: 0px 100px 30px 750px;
  padding: 50px 60px 40px 70px;
}

#master-class .master-class3 .master-class5 {
  margin: 30px 0px 60px 0px;
}

#master-class .master-class3 .master-class6 {
  margin-left: 250px;
}

#master-class .master-class7 {
  background-color: #ffbb00;
  margin: 0px 100px 30px 900px;
  padding: 30px 0px 10px 20px;
}

#gallery .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#gallery .box .box1 {
  background-color: #302f2f;
  padding: 70px 120px;
}

#gallery .box .box2 {
  background-color: #ffbb00;
  padding: 70px 100px;
}

#gallery .box .box3 {
  background-color: #302f2f;
  padding: 70px 100px;
  color: #ffbb00;
  text-align: left;
}

#gallery .box .box4 {
  background-color: #302f2f;
  padding: 70px 295px;
}

#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #523903;
  color: #fffffe;
  padding: 30px 120px;
}

#footer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .info .about,
#footer .info .menu,
#footer .info .shef,
#footer .info .contact {
  margin-right: 20px;
}

@media (max-width: 1026px) {
  #master-class .master-class2 {
    text-align: center;
    padding: 60px 0px;
  }
  #master-class .master-class3 {
    margin: 0px 20px 30px 20px;
    padding: 50px 5px 40px 5px;
    text-align: center;
  }
  #master-class .master-class3 .master-class4 {
    font-size: 30px;
  }
  #master-class .master-class3 .master-class6 {
    margin-left: 0px;
  }
  #master-class .master-class7 {
    margin: 0px 200px 30px 200px;
    padding: 10px 0px 10px 20px;
    text-align: center;
    font-size: 15px;
  }
  #gallery .box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #gallery .box .box1 {
    padding: 30px 0px;
  }
  #gallery .box .box2 {
    padding: 30px 0px;
  }
  #gallery .box .box3 {
    padding: 30px 100px;
  }
  #gallery .box .box4 {
    padding: 30px 9px;
  }
}

@media (max-width: 952px) {
  #main nav .logo {
    padding-left: 100px;
    color: #f8c73f;
    background: none;
    font-size: 27px;
    font-family: Century Gothic;
  }
  #main nav .checkbtn {
    display: block;
  }
  #main nav ul {
    position: fixed;
    width: 100%;
    height: 45vh;
    background: #5f5752;
    top: 80px;
    left: -100%;
    text-align: center;
    -webkit-transition: all .5s;
    transition: all .5s;
    padding: 0px 0px;
    margin-top: -45px;
  }
  #main nav ul li {
    display: block;
    margin: 30px 0px;
  }
  #main nav ul li a {
    font-size: 16px;
  }
  #main nav #check:checked ~ ul {
    left: 0;
  }
  #main .main-topic {
    height: 200px;
    text-align: center;
  }
  #main .main-topic h1 {
    text-align: center;
    margin: 200px 0px 0px 0px;
    font-size: 65px;
    font-weight: 900;
  }
  #main .main-topic .sub-topic {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #main .main-topic p {
    margin-left: 0px;
    text-align: left;
    font-size: 40px;
  }
  #main .main-topic button {
    text-align: center;
    margin: 20px 0px;
    font-size: 18px;
    padding: 8px 30px;
  }
  #new {
    padding: 50px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #new .new2 img {
    padding: 0px 0px;
  }
  #about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 50px 20px;
  }
  #about .format,
  #about .class {
    padding-right: 0px;
    padding-bottom: 20px;
  }
  #menu .menu1 h2 {
    font-size: 28px;
    padding: 20px;
  }
  #menu .menu1 h1 {
    margin: 0px 10px;
    padding: 8px 5px 45px 5px;
    text-align: center;
  }
  #menu .menu1-1 .menu2 {
    margin: 0px 10px;
  }
  #menu .menu1-1 .menu6 {
    margin: 0px 10px;
  }
  #menu .menu1-1 .menu3-1,
  #menu .menu1-1 .menu5-1 {
    margin-right: 100px;
  }
  #menu .menu1-1 .menu4-1,
  #menu .menu1-1 .menu6-1 {
    margin-right: 245px;
  }
  #concept .concept1 {
    margin: 15px 50px 0px 50px;
  }
  #footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 120px;
  }
  #footer .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .info .menu,
  #footer .info .shef,
  #footer .info .contact {
    margin-right: 50px;
  }
  #footer .about p {
    padding: 15px 0px;
  }
}

@media (max-width: 580px) {
  #menu .menu1-1 .menu2 {
    margin: 0px 0px;
    padding: 50px 0px 2px 10px;
  }
  #menu .menu1-1 .menu6 {
    margin: 0px 0px;
    padding: 10px 0px 0px 10px;
  }
  #menu .menu1-1 .menu3 h2,
  #menu .menu1-1 .menu3 p,
  #menu .menu1-1 .menu4 h2,
  #menu .menu1-1 .menu4 p,
  #menu .menu1-1 .menu5 h2,
  #menu .menu1-1 .menu5 p,
  #menu .menu1-1 .menu6 h2,
  #menu .menu1-1 .menu6 p {
    font-size: 20px;
  }
  #menu .menu1-1 .menu3-1,
  #menu .menu1-1 .menu5-1 {
    margin-right: 100px;
  }
  #menu .menu1-1 .menu4-1,
  #menu .menu1-1 .menu6-1 {
    margin-right: 215px;
  }
  #menu .menu7 {
    margin: 40px 10px 0px 10px;
  }
  #concept .concept2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 10px;
  }
  #concept .concept2 p {
    padding: 10px 0px;
  }
  #master-class .master-class3 .master-class4 {
    font-size: 27px;
  }
  #master-class .master-class3 .master-class6 {
    margin-left: 0px;
  }
  #master-class .master-class7 {
    margin: 0px 150px 0px 150px;
    padding: 10px 40px 10px 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 15px;
  }
  #footer {
    padding: 30px 30px;
  }
  #footer .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #footer .info .menu,
  #footer .info .shef,
  #footer .info .contact {
    margin: 0px 0px 20px 0px;
    text-align: center;
  }
}

@media (max-width: 490px) {
  #new .new1 p {
    font-size: 18px;
    padding-bottom: 11px;
  }
  #new .new1 .sub-new1 {
    background-color: #ffbb00;
    width: 100%;
    padding: 0px 30px;
  }
  #new .new1 .sub-new2 {
    margin-left: 30px;
  }
  #new .new2 img {
    background: none;
    padding: 0px 0px;
  }
  #menu .menu1-1 .menu2 {
    margin: 0px 0px;
    padding: 50px 0px 2px 5px;
  }
  #menu .menu1-1 .menu6 {
    margin: 0px 0px;
    padding: 10px 0px 0px 5px;
  }
  #menu .menu1-1 .menu3 h2,
  #menu .menu1-1 .menu3 p,
  #menu .menu1-1 .menu4 h2,
  #menu .menu1-1 .menu4 p,
  #menu .menu1-1 .menu5 h2,
  #menu .menu1-1 .menu5 p,
  #menu .menu1-1 .menu6 h2,
  #menu .menu1-1 .menu6 p {
    font-size: 18px;
  }
  #menu .menu1-1 .menu3-1,
  #menu .menu1-1 .menu5-1 {
    margin-right: 50px;
  }
  #menu .menu1-1 .menu4-1,
  #menu .menu1-1 .menu6-1 {
    margin-right: 155px;
  }
  #master-class .master-class3 .master-class4 {
    font-size: 25px;
  }
  #master-class .master-class7 {
    margin: 0px 50px 0px 50px;
    padding: 10px 40px 10px 40px;
  }
}

@media (max-width: 380px) {
  #menu {
    height: 650px;
  }
  #menu .menu1-1 .menu3 h2,
  #menu .menu1-1 .menu3 p,
  #menu .menu1-1 .menu4 h2,
  #menu .menu1-1 .menu4 p,
  #menu .menu1-1 .menu5 h2,
  #menu .menu1-1 .menu5 p,
  #menu .menu1-1 .menu6 h2,
  #menu .menu1-1 .menu6 p {
    font-size: 16px;
  }
  #menu .menu1-1 .menu3-1,
  #menu .menu1-1 .menu5-1 {
    margin-right: 20px;
  }
  #menu .menu1-1 .menu4-1,
  #menu .menu1-1 .menu6-1 {
    margin-right: 115px;
  }
  #menu .menu7 {
    padding: 10px 0px 15px 50px;
  }
  #menu .menu7 p {
    font-size: 18px;
  }
  #concept {
    padding: 50px 0px;
  }
  #concept .concept1 {
    margin: 15px 10px 0px 10px;
  }
}

@media (max-width: 350px) {
  #main nav .logo {
    padding-left: 50px;
    font-size: 20px;
  }
  #main nav .checkbtn {
    line-height: 35px;
    margin-right: 30px;
    font-size: 20px;
  }
  #main nav ul {
    margin-top: -50px;
  }
  #main .main-topic button {
    font-size: 14px;
    padding: 8px 30px;
    font-weight: 600;
  }
  #menu .menu3-1,
  #menu .menu5-1 {
    margin-right: 20px;
  }
  #menu .menu4-1,
  #menu .menu6-1 {
    margin-right: 0px;
  }
}

@media (max-width: 300px) {
  #menu .menu1-1 .menu3 h2,
  #menu .menu1-1 .menu4 h2,
  #menu .menu1-1 .menu5 h2,
  #menu .menu1-1 .menu6 h2 {
    font-size: 14px;
  }
  #menu .menu1-1 .menu3-1 p,
  #menu .menu1-1 .menu5-1 p,
  #menu .menu1-1 .menu4-1 p,
  #menu .menu1-1 .menu6-1 p {
    display: none;
  }
  #menu .menu3-1,
  #menu .menu5-1 {
    margin-right: 20px;
  }
  #menu .menu4-2,
  #menu .menu6-2 {
    margin-left: -60px;
  }
}
/*# sourceMappingURL=styles.css.map */